{% extends 'pages/Region/baseRegion.twig' %}

{% block main %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'vue-genderlist',
        component: 'gender-list',
        props: {
            regionId : region.id,
            regionName: region.name,
        }
    } %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'vue-ageBandlist',
        component: 'ageBand-list',
        props: {
            regionName: region.name,
            ageBandDataTab: ageBand.district,
            ageBandDataHomeDistrictTab: ageBand.homeDistrict,
        }
    } %}
    {% include 'partials/vue-wrapper.twig' with {
        id: 'vue-pickuplist',
        component: 'pickup-list',
        props: {
            regionName: region.name,
            pickupDataDailyTab: pickupData.daily,
            pickupDataWeeklyTab: pickupData.weekly,
            pickupDataMonthlyTab: pickupData.monthly,
            pickupDataYearlyTab: pickupData.yearly,
        }
    } %}
{% endblock %}
